body {
    background-color: aqua;
    
};
h1 {
    color: blueviolet;
    margin-left: 28px;
}
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}